.container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    video {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }

    h1 {
        font-size: 4rem;
        color: transparent;
        color: #fff;
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        background-image: url(https://media2.giphy.com/media/dAWZiSMbMvObDWP3aA/200w.gif?cid=82a1493byp37003a7qbmajj1l5tg7mcliwmw1twdt960cw2l&ct=g&rid=200w.gif);

        @media screen and (min-width: 768px) {
            font-size: 5rem;
        }
        @media screen and (min-width: 1024px) {
            font-size: 6rem;
        }
    }

    p {
        margin-top: 8px;
        font-size: 2rem;
        color: transparent;
        color: #fff;
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        background-image: url(https://media2.giphy.com/media/dAWZiSMbMvObDWP3aA/200w.gif?cid=82a1493byp37003a7qbmajj1l5tg7mcliwmw1twdt960cw2l&ct=g&rid=200w.gif);
    }

    .scroll {
        width: 30px;
        display: grid;
        place-content: center;
        position: absolute;
        bottom: 5%;
        .circle {
            animation: circleAnim 1s infinite alternate-reverse;
        }
    }
}

@media screen and (max-width: 960px) {
    .container {
        h1 {
            font-size: 4remx;
            text-align: center;
        }
    }

    .container {
        p {
            text-align: center;
            font-size: 22px;
            width: 85%;
        }
    }
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(262px, 798px);
        z-index: 5;
    }
    to {
        transform: translate(262px, 830px);
    }
}