
.portfolio {
    background-color: black;
    padding: 4rem 0;
    // background-color: white;

    .title {
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 50px 0;
        h1 {
            font-size: 3rem;
            padding: 1rem 0;
            color: transparent;
            background-clip: text;
            background-size: cover;
            -webkit-background-clip: text;
            background-image: linear-gradient(147deg,#f90fd8,#f54377 26%,#fc1c1c 50%,#ffc30d 75%,#72fb59);
            @media screen and (max-width : 960px) {
                font-size: 2rem;
            }
        }
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        // padding: 100px 100px;
        padding: 0rem 1rem;
        @media (min-width: 768px) {
            padding: 0 2rem;
        }
        @media screen and (min-width: 900px) {
            padding: 0 8rem;
        }
        @media screen and (min-width: 1024px) {
            padding: 0 4rem;
            gap: 5rem 0rem;
        }
        @media screen and (min-width: 1300px) {
            padding: 0 8rem;
        }
        @media screen and(min-width: 1440px) {
            padding: 0 12rem;
        }
        @media screen and (min-width: 1900px) {
            padding: 0 18rem;
        }
        @media screen and(min-width: 2100px) {
            padding: 0 20rem;
        }
        
        @media screen and (max-width:920px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width:670px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .gridItem {
        margin: 0 auto;
        .portfolioContent {
            display: block;
            position: relative;
            overflow: hidden;
            h6 {
                font-size: 1.5rem;
                color: white;
                // color: black;
                padding: 10px 0;
            }
            p {
                color: white;
                // color: black;
            }
            img {
                width: 100%;
                height: 30vh;
                object-fit: cover;
            }
            ul {
                transform: translateY(-600px);
                transition: all .4s ease-in-out;
                position: absolute;
                left: 50%;
                top: 40%;
                li {
                    background-color: var(--border-color);
                    background-color: grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                    margin: 0 .5rem;
                    transition: all .4s ease-in-out;
                    &:hover{
                        background-color: var(--primary-color);
                        background-color: red;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .4s ease-in-out;
                    }
                }
            }
            .portfolioImage {
                img {
                    width: 100%;
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: 2%;
                    top: 4%;
                    height: 0;
                    width: 0;
                    transition: all .4s ease-in-out;
                    z-index: 1;
                }
            }
            .portfolioImage:hover {
                ul{
                    transform: translateY(0);
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .4s ease-in-out;
                    opacity: 1;
                    z-index: 2;
                    li{
                        transition: all .4s ease-in-out;
                        &:hover{
                            background-color: var(--primary-color);
                            // background-color: rebeccapurple;
                        }
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .4s ease-in-out;
                        }
                    }
                    li:hover{
                        svg{
                            color: var(--white-color);
                        }
                    }
                    svg{
                        font-size: 2rem;
                        color: blue;
                    }
                }
                &::before{
                    // height: calc(100% - 25%) ;
                    // width: calc(100% - 10%);
                    width: 100%;
                    height: 70%;
                    background-color: white;
                    opacity: 0.9;
                    transform-origin: left;
                    transition: all .4s ease-in-out;
                    @media screen and (max-width: 500px) {
                        width: 90%;
                    }
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        height: 65%;
                    }
                }
            }   
        }
    }
}