* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.9;
  font-size: 1.2rem;
  // letter-spacing: 1.1px;
}

@keyframes circleAnim {
  from {
      transform: translate(262px, 798px);
      z-index: 5;
  }
  to {
      transform: translate(262px, 830px);
  }
}