.container {
    display: flex;
    background-color: white;
    color: black;
    height: 70vh;
    // padding: 100px 0;
    // margin: 100px 0;
    padding: 0rem 1rem;
        @media (min-width: 768px) {
            padding: 0 2rem;
        }
        @media screen and (min-width: 900px) {
            padding: 0 8rem;
        }
        @media screen and (min-width: 1024px) {
            padding: 0 4rem;
        }
        @media screen and (min-width: 1300px) {
            padding: 0 8rem;
        }
        @media screen and(min-width: 1440px) {
            padding: 0 12rem;
        }
        @media screen and (min-width: 1900px) {
            padding: 0 18rem;
        }
        @media screen and(min-width: 2100px) {
            padding: 0 20rem;
        }
    @media only screen and (max-width: 960px) {
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        padding: 0 100px;
        @media only screen and (max-width: 960px) {
            width: 90%;
            margin: 0 auto;
            padding: 40px 20px 50px 20px;
            text-align: center;
        }
        h1 {
            margin-bottom: 30px;
            font-size: 3rem;
            color: transparent;
            background-clip: text;
            background-size: cover;
            -webkit-background-clip: text;
            background-image: linear-gradient(147deg,#f90fd8,#f54377 26%,#fc1c1c 50%,#ffc30d 75%,#72fb59);
            @media only screen and (max-width: 960px) {
                font-size: 2rem;
                text-align: center;
            }
        }
        p {
            line-height: 1.9;
        }
    }

    .wrapper {
        width: 45%;
        display: flex;
        justify-content: center;
        align-self: center;
        overflow: hidden;
        @media only screen and (max-width: 960px) {
            width: 100%;
            margin-bottom: 50px;
        }
    }
}    


